.scrollable {
    flex: 1;
    min-height: 0;

    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #D7DCF0;
    border-radius: 999px;
}